<div class="navbar-fixed-bottom nav nav-list">
  <%= form_for [@chat, Message.new], remote: true, class: "form-search" do |f| %>
    <%= f.text_field :content, placeholder: "chat here...", :class => "search-query send-message-text" %>
    <%= f.submit "Send", id: 'submit_message', :class => "btn btn-info" %>
  <% end %>
</div>
