<h1>HERE'S THE HOME PAGE OF OUR WEBSITE</h1>

<ul>
  <li>search box for chatroom. search box finds or creates a chatroom???</li>
  <li>maybe show the most active rooms</li>
  <li>maybe allow people to log in and moderate rooms they have created</li>
  <li>if moderation is allowed, chatroom-mod should be able to block people</li>
</ul>
