<!DOCTYPE html>
<html>
<head>
  <title>RuntalkChat</title>
  <%= stylesheet_link_tag  "//netdna.bootstrapcdn.com/bootswatch/2.3.2/flatly/bootstrap.min.css", "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js","data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
