Messages

<ul id="messages">
  <% @messages.each do |message| %>
  <li>
    <%= message.content %>
  </li>
  <% end %>
</ul>

<%= form_for Message.new do |f| %>
  <%= f.text_field :content, placeholder: "chat here..." %>
  <%= f.submit "Submit", id: 'submit_message' %>
<% end %>
