---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=taco,%20taco&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"Taco Taco\",\n               \"short_name\"
        : \"Taco Taco\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"San Cristobal\",\n
        \              \"short_name\" : \"San Cristobal\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"Artemisa Province\",\n               \"short_name\"
        : \"Artemisa Province\",\n               \"types\" : [ \"administrative_area_level_1\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Cuba\",\n               \"short_name\" : \"CU\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Taco Taco, Cuba\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 22.67353720,\n
        \                 \"lng\" : -83.11625780\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 22.65161740,\n                  \"lng\" :
        -83.13217899999999\n               }\n            },\n            \"location\"
        : {\n               \"lat\" : 22.670080,\n               \"lng\" : -83.1231610\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 22.67353720,\n
        \                 \"lng\" : -83.11625780\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 22.65161740,\n                  \"lng\" :
        -83.13217899999999\n               }\n            }\n         },\n         \"types\"
        : [ \"locality\", \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Wed, 19 Jun 2013 21:35:09 GMT
recorded_with: VCR 2.5.0
