---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=39.7336161,-104.9926653&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"1062\",\n               \"short_name\"
        : \"1062\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"Delaware Street\",\n               \"short_name\"
        : \"Delaware St\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Golden Triangle\",\n               \"short_name\"
        : \"Golden Triangle\",\n               \"types\" : [ \"neighborhood\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Denver\",\n
        \              \"short_name\" : \"Denver\",\n               \"types\" : [
        \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Denver\",\n               \"short_name\" : \"Denver\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"Colorado\",\n               \"short_name\"
        : \"CO\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"80204\",\n               \"short_name\" : \"80204\",\n               \"types\"
        : [ \"postal_code\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"1062 Delaware Street, Denver, CO 80204, USA\",\n         \"geometry\"
        : {\n            \"location\" : {\n               \"lat\" : 39.7335360,\n
        \              \"lng\" : -104.9926110\n            },\n            \"location_type\"
        : \"ROOFTOP\",\n            \"viewport\" : {\n               \"northeast\"
        : {\n                  \"lat\" : 39.73488498029150,\n                  \"lng\"
        : -104.9912620197085\n               },\n               \"southwest\" : {\n
        \                 \"lat\" : 39.73218701970850,\n                  \"lng\"
        : -104.9939599802915\n               }\n            }\n         },\n         \"types\"
        : [ \"street_address\" ]\n      },\n      {\n         \"address_components\"
        : [\n            {\n               \"long_name\" : \"Golden Triangle\",\n
        \              \"short_name\" : \"Golden Triangle\",\n               \"types\"
        : [ \"neighborhood\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Denver\",\n               \"short_name\" : \"Denver\",\n               \"types\"
        : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Denver\",\n               \"short_name\" : \"Denver\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"Colorado\",\n               \"short_name\"
        : \"CO\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Golden Triangle, Denver, CO, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 39.7408860,\n
        \                 \"lng\" : -104.98743620\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 39.7268860,\n                  \"lng\" :
        -104.99829520\n               }\n            },\n            \"location\"
        : {\n               \"lat\" : 39.73654970,\n               \"lng\" : -104.98999950\n
        \           },\n            \"location_type\" : \"APPROX[...]
